$background_white: #f5f5f5;

$dark_primary_color: #512DA8;
$primary_color: #683AB7;
$light_primary_color: #D1C4E9;
$divider_color: #B6B6B6;

$primary_text: #212121;
$secondary_text: #727272;

$break_small: 800px;
$menu_break_small: 800px;
