@import "animations";

$background_white: #f5f5f5;

$dark_primary_color: #512DA8;
$primary_color: #673AB7;
$light_primary_color: #D1C4E9;
$divider_color: #B6B6B6;

$primary_text: #212121;
$secondary_text: #727272;

$break_small: 600px;
$menu_break_small: 800px;

body,html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $background_white; 
}

hr {
    border: 0;
    border-top: 1px solid $divider_color;
}

#top-menu {
    margin: 0;
    background-color: $dark_primary_color;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $menu_break_small) {
        height: 75px;
    }

    @media screen and (min-width: $menu_break_small) {
        .items {
            display: flex;
            flex-direction: row;
            align-self: center;
            div {
                color: white;
                font-size: 30px;
                margin-left: 10px;
                margin-right: 10px;

                &:hover {
                    color: $primary_text;
                }
            }
        }
        .underline {
            height: 3px;
            width: 100px;
            background-color: $light_primary_color;
            transition: width 1s, margin-left 1s;
        }

        .show-menu {
            display: none;
        }
    }
    @media screen and (max-width: $menu_break_small) {
        .items {
            color: white;
            transition: all 0.5s;

            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 75px;
            width: 75%;
            left: -75%;
            height: 100%;
            background-color: $dark_primary_color;
            div {
                margin-left: 10px;
                font-size: 30px;
                margin-bottom: 5px;

                .background {
                    position: relative;
                    top:0;
                    float: left;
                    left: -20px;
                    width: 0px;
                    height: 40px;
                    transition: all 0.5s;
                }

                .itemText {
                    position: absolute;
                    float: left;
                }

                &:hover {
                    .background {
                        width: 100%;
                    }
                }
            }

            &.active {
                left:0;
            }
        }
        .underline {
            display: none;
        }
        .show-menu {
            position: absolute;
            height: 100%;
            padding: 2rem 1rem;
            cursor: pointer;

            .show-menu__layer {
                display: block;
                width: 50px;
                height: 5px;
                background: #eee;
                position: relative;
                animation-duration: 300ms;
                animation-timing-function: ease-in-out;

                &:before, &:after {
                    display: block;
                    width: inherit;
                    height: 5px;
                    position: absolute;
                    background: inherit;
                    left: 0;
                    content: '';
                    animation-duration: 300ms;
                    animation-timing-function: ease-in-out;
                }
                &:before {
                    bottom: 200%;
                }
                &:after {
                    top: 200%;
                }
            }
        }
        .icon--to-arrow {
          animation-name: material-design-hamburger__icon--slide;
          animation-fill-mode: forwards;

            &:before {
                animation-name: material-design-hamburger__icon--slide-before;
                animation-fill-mode: forwards;
            }
            &:after {
              animation-name: material-design-hamburger__icon--slide-after;
              animation-fill-mode: forwards;
            }
        }
        .icon--from-arrow {
          animation-name: material-design-hamburger__icon--slide-from;

            &:before {
                animation-name: material-design-hamburger__icon--slide-before-from;
            }
            &:after {
                animation-name: material-design-hamburger__icon--slide-after-from;
            }
        }
    }
}

.header {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: $primary_color; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 2px 200px #555555;
}
.header img.cover {
    flex: 0 1 auto;
}
.header {
    .description {
        flex: 0.5 1 auto;

        hr {
            margin-top: 21px;
            margin-bottom: 21px;
            border: 0;
            border-top: 1px solid #512DA8;
        }

        h1 {
            margin: 0;
            text-align: center;
            color: #FFFFFF;
            font-size: 50px;
            flex: .15;  
        }
        h2 {
            margin: 0;
            text-align: center;
            color: $light_primary_color;
            font-size: 25px;
            flex: .15;
        }
    }
}
.content {
    margin: 0;
    background-color: #FFFFFF;
}

.about {
    margin: 0;
    margin-top: 15px;
    text-align: center;
    min-height: 250px;
    padding-left: 15%;
    padding-right: 15%;

    h1 {
        margin-top: 5px;
        color: $primary_text;
        font-size: 45px;
    }
    hr {
        margin-left: 15%;
        margin-right: 15%;
    }
    p {
        margin-top: 5px;
        color: $primary_text;
        font-size: 20px;
    }
}
.block {
    margin: 15px 30px 20px 30px;
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    h1 {
        color: $primary_text;
        &.main {
            font-size: 44px;
            color: $primary_color;
        }
    }
    p {
        font-size: 20px;
        color: $secondary_text;
    }
}

.grid {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-flow: row wrap;

    @media screen and (max-width: $break_small) {
        flex-direction: column;
    }
    .block {
        flex: 1;
        &.no-padding {
            padding: 0;
        }
        &.clickable:hover {
            cursor: pointer;
            box-shadow: 0 20px 30px rgba(0,0,0,0.10), 0 12px 12px rgba(0,0,0,0.23);
        }
        @media screen and (min-width: $break_small) {
            max-width: 30%;
        }
        img {
            margin:0;
            width: 100%;
            height: auto;
        }
    }
}
.sub-block {
    margin: 2px 1px 2px 1px;
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
}